@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/bg.jpg');
    cursor: url('/cursor/mouse.png'), default !important;
    cursor: url('/cursor/pointer.png'), pointer;
}

/* Apply custom pointer cursor to specific elements */
a, button, input[type="button"], input[type="submit"], input[type="reset"], input[type="range"], input[type="file"] .custom-pointer, label {
    cursor: url('/cursor/pointer.png'), pointer !important;
}